Simple Login Screen App Latest/E*/*.iml
Simple Login Screen App Latest/E*/.gradle
Simple Login Screen App Latest/E*/local.properties
Simple Login Screen App Latest/E*/.idea/caches
Simple Login Screen App Latest/E*/.idea/libraries
Simple Login Screen App Latest/E*/.idea/modules.xml
Simple Login Screen App Latest/E*/.idea/workspace.xml
Simple Login Screen App Latest/E*/.idea/navEditor.xml
Simple Login Screen App Latest/E*/.idea/assetWizardSettings.xml
Simple Login Screen App Latest/E*/.DS_Store
Simple Login Screen App Latest/E*/build
Simple Login Screen App Latest/E*//captures
Simple Login Screen App Latest/E*/.externalNativeBuild
Simple Login Screen App Latest/E*/.cxx