Simple Login Screen App Latest/E01/*.iml
Simple Login Screen App Latest/E01/.gradle
Simple Login Screen App Latest/E01/local.properties
Simple Login Screen App Latest/E01/.idea/caches
Simple Login Screen App Latest/E01/.idea/libraries
Simple Login Screen App Latest/E01/.idea/modules.xml
Simple Login Screen App Latest/E01/.idea/workspace.xml
Simple Login Screen App Latest/E01/.idea/navEditor.xml
Simple Login Screen App Latest/E01/.idea/assetWizardSettings.xml
Simple Login Screen App Latest/E01/.DS_Store
Simple Login Screen App Latest/E01/build
Simple Login Screen App Latest/E01//captures
Simple Login Screen App Latest/E01/.externalNativeBuild
Simple Login Screen App Latest/E01/.cxx
